body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #222;
  color: white;
  text-align: center;
}

#menu {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameCanvas {
  display: none;
  background: url("assets/bg.png") no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
